[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "circlesplot"]
	path = circlesplot
	url = https://github.com/benst099/circlesplot
